{% extends "layout.html" %}

{% block title %}Monthly Summary{% endblock %}

{% block content %}
<h1 class="my-4">Monthly Summary</h1>

{% if summary %}
<table class="table">
    <thead>
        <tr>
            <th>Month</th>
            <th>Total Payments</th>
            <th>Total Invoices</th>
        </tr>
    </thead>
    <tbody>
        {% for row in summary %}
        <tr>
            <td>{{ row.month }}</td>
            <td>{{ row.total_payments | round(2) }}</td>
            <td>{{ row.total_invoices | round(2) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p class="alert alert-info text-center">No transactions available for this month.</p>
{% endif %}

{% endblock %}